In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

import tensorflow
tensorflow.keras.__version__
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import pandas as pd 
import datetime

In [3]:
# import csv
df = pd.read_csv("HR_Mockdata_for_comparison.csv")
# convert date columns to datetime
date_columns = ['hire_date', 'move_date']
for date in date_columns:
    df[date] =  pd.to_datetime(df[date], errors='coerce', dayfirst=True, 
                                                      yearfirst=False, format=None)
# find number of days between hire and move and convert to numerical value
df['delta'] =  (df['move_date'] - df['hire_date']).dt.days
# drop datetime columns
df = df.drop(columns=['move_date', 'hire_date'])
# drop columns not included in analysis
df = df.drop(columns=[ 'country_home', 'country_host', 'end_date',
                        'fired_quit'])
# Drop null columns/rows
df = df.dropna(axis='columns', how='all')
df = df.dropna()
# select column names that need to be converted to dummy variables
to_dummify = [
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'economic Perspective_host',
 'business Size_host', 
 'function_host'
 ]
for dummy in to_dummify:
    df = pd.concat([df.drop(dummy, axis=1), pd.get_dummies(df[dummy], drop_first=True,
                prefix=dummy)], axis=1)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,buzz_bust,delta,salary_medium,leader_host_key talent,...,culture_host_hierarquical,culture_host_top-down,business Size_host_mbu,business Size_host_sbu,business Size_host_united states,function_host_finance,function_host_human resources,function_host_marketing,function_host_medical,function_host_operations
0,0.45,0.54,2,135,0,0,bust,2657,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0.50,0.55,2,160,0,0,bust,2728,0,1,...,0,1,0,0,0,0,0,0,0,0
2,0.10,0.84,6,293,0,0,bust,8837,1,0,...,0,0,0,1,0,0,1,0,0,0
3,0.53,0.81,5,135,0,0,bust,4291,1,0,...,0,0,0,1,0,0,0,0,1,0
4,0.90,0.96,4,258,0,0,buzz,2938,1,1,...,1,0,0,0,0,0,0,0,0,0

In [6]:
X = df.drop("buzz_bust", axis=1)
y = df["buzz_bust"]
print(X.shape)
X.head(1)

(14, 24)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,delta,salary_medium,leader_host_key talent,leader_host_well placed talent,...,culture_host_hierarquical,culture_host_top-down,business Size_host_mbu,business Size_host_sbu,business Size_host_united states,function_host_finance,function_host_human resources,function_host_marketing,function_host_medical,function_host_operations
0,0.45,0.54,2,135,0,0,2657,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
X_scaler = MinMaxScaler().fit(X)
X_scaled = X_scaler.transform(X)

C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [ ]:
# Load the neural network model
from tensorflow.keras.models import load_model
voice_model = load_model("ML_NeuralNet_WhyExpat.h5")